
<h1>Welcome to Kaba Blog</h1>
<p>This page is all about Kaba blogggg!!!!!</p>
<p> Kabaa or Madd is a popular West African Fruit, mostly eaten in Senegal or Gambia. The fruit is seasonal and can only be found in West Africa making it a very rare commodity. </p>
